{% extends "layout.html" %}
{% block content %}

  <div class="container">
    <a href="../modulo-streaming.php"><div id="btn-modulo" class="ui button massive">Start Your Trip</div></a>
  </div>
  
  <div class="ui middle aligned four column centered grid">
    <div class="row">
      <div class="column" id="informacion1">
        <p>Conoce el pais al que siempre has querido viajar.</p>
      </div>
      <div class="column" id="informacion1">
        <p>Aprende otro idioma, enseñando el tuyo y conociendo personas.</p>
      </div>
      <div class="column" id="informacion1">
        <p>Enseña a personas del mundo tus culturas.</p>
      </div>
      <div class="column" id="informacion1">
        <p>Preguntale a tu Patner las oportunidades que tienes en su pais.</p>
      </div>
    </div>
  </div>
{% endblock %}